.bodyContainer {
	background-color: #f7f9fb;
	border-left: 1px solid #CBC9C9;
	border-right: 1px solid #CBC9C9;
	display: flex;
	margin: auto;
}

.textRoom {
	height: 360px;
	width: 270px;
	overflow: auto;
	padding-top: 10px;
	display: inline-block;
}
