.textBox {
	margin-bottom: 7px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.bubble {
	background-color: #FFF;
	border: 1px solid #CBC9C9;
	border-radius: 5px 0 5px 5px;
	margin-right: 10px;
	margin-left: 20px;
	padding: 10px;
	color: #555;
	font-family: "Sen", sans-serif;
	font-weight: 1.4em;
	font-size: 13px;
	display: inline-block;
	width: 80%;
}

